body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
}

button {
    background: brown;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.order-box {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}
